.header {
  @include box-shadow(2);
  @include size(100% 80px);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  
  @include for-phone-only() {
    height: 48px;
  }
  a {
    text-decoration: none;
  }
  h1 {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    @include for-phone-only() {
      font-size: 18px;
    }
  }
}